<div id='names'>
  <%= @player_1_name %> vs. <%= @player_2_name %>
</div>

 <div id='points'>
 <%= @player_1_points %> - <%= @player_2_points %>
 </div>

 <form action='/attack'>
   <input type='submit' value='Attack!' />
 </form>
